*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Klee One', cursive;
	font-weight: 100;
	scroll-behavior: smooth;
}

section {
	width: 100%;
	min-height: 105vh;
	display: flex;
	/*justify-content: center;*/
}

h1 {
	font-size: 3rem;
	line-height: 2;
	font-family: 'Klee One', cursive;
	font-weight: bold;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
}

img {
	width: 400px;
	margin-bottom: 50px;
	border: 12px solid black;
}


a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #b3b3b3;
}

/* Navbar*/

nav {
	height: 64px;
	width: 100%;
	background-color: black;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 30px;
}

#title {
	font-size: 1.8rem;
	font-family: 'Klee One', cursive;
	text-transform: uppercase;
}

/* Home Section */

.home {
	background-color: #486352;
}

.home div {
	transform: translateY(64px);
	margin: 5%;
}

/*About Section*/

.about {
	background-color: #486352;
}

.about div {
	margin: 8%;
}